# system config junk file
.DS_Store
.DS_Store?
*.swp
*.pyc

# evaluation file
pa4/evaluation.txt

# data
pa4/movies_reviews
pa3/input_puzzles

# pickle file
*.pickle

# test_dir
pa4/test_dir

# a5 output files
pa5/a5code/output.txt


# a5 other files
pa5/2008-07-30
pa5/sketchViewer.jar
pa5/text_drawing.txt
pa5/trainingFiles
